header {
    background: rgba(128,128,128,1);
}

h1 {
    text-transform: uppercase;
    color: rgba(256,256,256,1);
    text-align: center;
    font-size: 50px;
}

body {
    padding: 5px 10px;
    margin: 5px;
}

header {
    background-color: rgba(200,256,200,1);
    background-image: url(../images/flywheel.jpg);
    background-size: 100%;
}

nav a {
    display: inline-block;
    margin: 5%;
    padding: 15px 3%;
    border-radius: 8px;
    background: rgba(200,200,200,0.5);
    text-decoration: none;
    color: rgba(0,0,0,1);
    text-align: center;
}

.active {
    background-color: rgba(256,256,256,1);
    font-weight: bold;
}

.left {
    background: rgba(100,150,100,1);
    box-sizing: border-box;
    margin-right: 5px;
    padding: 5px 2% 100% 2%;
    display: inline-block;
    width: 20%;
    height: auto;
    float: left;
}

.right {
    background: rgba(256,256,256,1);
    display: inline-block;
    width: 75%;
    float: right;
}

img {
    display: block;
    box-sizing: border-box;
    border: solid 2px rgba(0,0,0,0.75);
    width: 90%;
    margin: 20px 5% 20px 5%;
}

table {
    font-family: Calibri, Arial, Georgia;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    width: 80%;
    margin: 5% 0 0 5%;
}

th {
    background: -webkit-linear-gradient(rgba(0,0,0,1), rgba(200,200,200,1));
    color: rgba(256,256,256,1);
    padding: 10px;
}

    th:first-child {
        border-top-left-radius: 5px;
    }

    th:last-child {
        border-top-right-radius: 5px;
    }

tr {
    background-color: rgba(0,0,0,0.8);
    text-align: center;
}

    tr td:first-child, tr th:first-child {
        text-align: left;
    }

    tr:hover {
        background-color: rgba(0,0,0,1);
    }

td {
    padding: 10px;
    color: rgba(256,256,256,1);
    border-radius: 2px;
}
