/*Full body styles*/
body {
    background-color: rgba(0,0,0,1);
    color: rgba(256,256,256,1);
    font-family: Calibri;
    text-align: justify;
    box-sizing: border-box;
    margin: 5px;
    padding: 2px 5px;
}

p {
    font-size: 20px;
    line-height: 20px;
    margin: 5px;
    padding: 5px;
}

a {
    color: rgba(156, 156, 156,1);
    margin: 2px;
    padding: 0px 2px 0px 2px;
}

    a:focus {
        border: solid 2px rgba(256,0,0,1);
        color: rgba(256,256,256,1);
    }

    a:hover {
        background-color: rgba(256,256,256,1);
        color: rgba(0,0,0,1);
        font-style: italic;
    }

    a:active {
        font-style: normal;
        font-weight: bold;
    }

/*Heading styles*/

h2 {
    font-size: 1rem;
}
