header {
    background: rgba(128,128,128,1);
}

h1, h2 {
    text-transform:uppercase;
}

h1 {
    color: rgba(256,256,256,1);
    text-align: center;
}

h2 {
    color: rgba(100, 0, 256, 1);
}

nav a {
    background: rgba(200,200,200,1);
    color: rgba(0,0,0,1);
    text-align: center;
}

section {
    background: rgba(100,100,100,0.8);
}

img {
    display:none;
}
